<!--Comienzo de Carousel-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
    <!--Inicia slide-->
    <mdb-carousel-item>
      <div class="view">
      <video class="d-block video-fluid" class="w-100" autoplay loop>
        <source src="../../assets/img/MEXICO.mp4" type="video/mp4"/>
      </video>
      
      <div class="mask pattern-6">
        <div class="carousel-caption centradoNav">
          <h1 class="h1-responsive tituloNavbar">Servicios
            <p class="subNavbar">Tenemos una gran gama de soluciones para llevar al máximo el nivel tu compañia</p>
          </h1>
          
        </div>  
      </div>
    </div>
    </mdb-carousel-item>
    <!--/Termina slide-->
    
  </mdb-carousel>
  <!--Termina Carousel-->
  
  <!--Div row que continene imagen e información seccionados en columnas-->
  <div class="row mt-5   pl-5 pr-5 ">
    
    <div class="col-lg-6">
      <img
          src="https://www.turing-ia.com/assets/img/servicios.jpg"
          
          class="img-fluid ajusteIMG fig1 rounded-start"
        />
    </div>
  
    <div class="col-lg-6 mt-4 pTexto1">
      <h6 class="font-weight-bold letraAzul">LO QUE OFRECEMOS</h6>
      <h1 class="font-weight-bold subtitulo"> Servicios en Turing-IA</h1>
      <p class="card-text texto1">
        Proporcionamos a nuestros clientes una gama de productos y servicios relacionados con el analisis 
        de datos, mediante el uso de tecnologias como Tableau, Salesforce, PMI, Scrum.        
      </p>
      <h1 class="font-weight-bold subtitulo">Expertos en</h1>
      <p class="card-text texto1">
        <mdb-icon fas icon="check"></mdb-icon> Tableau    <mdb-icon fas icon="check"></mdb-icon> Business Intelligence <br>
        <mdb-icon fas icon="check"></mdb-icon> Business Analyst    <mdb-icon fas icon="check"></mdb-icon> Data Analyst <br>
        <mdb-icon fas icon="check"></mdb-icon> Machine Learning    <mdb-icon fas icon="check"></mdb-icon> Inteligencia Artificial <br>
        <mdb-icon fas icon="check"></mdb-icon> Data Mining    <mdb-icon fas icon="check"></mdb-icon> Big Data    
      </p>
    </div>
  
  </div>

   <!--Div seccionado en row que continene imagen e información divididos en columnas-->
   <div class="col-12">
  
    <div>
      <img src="../../assets/img/img2.jpg"  class="imgCompleta imagenTexto2">
    </div>
    
  
    <div class="etiqueta2 card-img-overlay">
      <h1 class="font-weight-bold mt-0 mb-0 card-title eTexto">MODELO DE NOGOCIOS</h1>
      <div class="dropdown-divider"></div>
      <h1 class="font-weight-bold card-title eTexto">
        A qué nos dedicamos
      </h1>
      <h2 class="card-title eTexto">
        Nosotros somos expertos creación de proyectos de Big Data, mediante la metodología PMI.
        A su vez también nos dedicamos al desarrollo de software hecho a la medida utilizando distintas herramientas. Tenemos distintas cursos y capacitaciones para ti y tu empresa.
        Adicionalmente nos encargamos de vender licenciamiento de software y equipos hardware.
        Todo en conjunto forma el modelo de negocios de Turing-IA.
      </h2>
    </div>
  
  </div>
  
  <!--Div seccionado en row que continene imagen e información divididos en columnas-->
  <h6 class="letraAzul centrar">Services</h6>
  <div class="row mt-5 mb-0 pl-5 pr-5">
    
    <div class="col-lg-6">
       
          <div class="view rgba-white-slight waves-light  imagenTexto" mdbWavesEffect>
            <!-- Card img -->
            <img class="ajusteIMG" src="https://cdn.pixabay.com/photo/2015/01/08/18/27/startup-593341__340.jpg"/>
            
          </div>
          
        
  
        <div class="etiqueta card-img-overlay">
          <h5 class="font-weight-bold mt-0 mb-0 card-title eTexto">Project PMI </h5>
          <div class="dropdown-divider"></div>
            <h5 class="mt-0 mb-0 card-title eTexto">*BI y BA 
            </h5>
            <h5 class="mt-0 mb-0 card-title eTexto">
                *Big Data 
            </h5>
            <h5 class="mt-0 mb-0 card-title eTexto">
               
                    *Tableau BluePrint
            </h5>
        </div>
    </div>
    <div class="col-lg-6">
       
        <div class="view rgba-white-slight waves-light  imagenTexto" mdbWavesEffect>
          <!-- Card img -->
          <img class="ajusteIMG" src="https://cdn.pixabay.com/photo/2018/03/10/09/45/businessman-3213659__340.jpg"/>
          
        </div>
        
      

      <div class="etiqueta card-img-overlay">
        <h5 class="font-weight-bold mt-0 mb-0 card-title eTexto">Deployment </h5>
        <div class="dropdown-divider"></div>
          <h5 class="mt-0 mb-0 card-title eTexto">*Linux 
            *Windows <br>
            *Project - SCRUM
            *Desarrollos WEB <br>
            *Desarrollo de APP
            *Modelado de datos <br>
            *SQL Server
            *MySQL
            *Oracle
          </h5>
          
      </div>
  </div>
    
  </div>

  <div class="row mt-0 pl-5 pr-5">
    
    <div class="col-lg-6">
       
          <div class="view rgba-white-slight waves-light  imagenTexto" mdbWavesEffect>
            <!-- Card img -->
            <img class="ajusteIMG" src="https://cdn.pixabay.com/photo/2018/01/11/10/46/businessman-3075837__340.jpg"/>
            
          </div>
          
        
  
        <div class="etiqueta card-img-overlay">
          <h5 class="font-weight-bold mt-0 mb-0 card-title eTexto">Training </h5>
          <div class="dropdown-divider"></div>
            <h5 class="mt-0 mb-0 card-title eTexto">*Tableau
                *Altery <br>
                *R Studio <br>
                *Data Mining Weka <br>
                *Insight <br>
                *BI <br>
            </h5>
            
        </div>
    </div>
    <div class="col-lg-6">
       
        <div class="view rgba-white-slight waves-light  imagenTexto" mdbWavesEffect>
          <!-- Card img -->
          <img class="ajusteIMG" src="https://cdn.pixabay.com/photo/2018/02/12/11/09/smart-home-3148026__340.jpg"/>
          
        </div>
        
      

      <div class="etiqueta card-img-overlay">
        <h5 class="font-weight-bold mt-0 mb-0 card-title eTexto">Software </h5>
        <div class="dropdown-divider"></div>
          <h5 class="mt-0 mb-0 card-title eTexto">
            *Tableau <br>
            *Altery <br>
            *Otros <br>
            *Redhat <br>
            *Karspersky <br>
          </h5>
          
      </div>
  </div>
    
  </div>

  <!--Div seccionado en row que continene imagen e información divididos en columnas-->
  <div class="mt-2 mb-5 text-center container imgMet">
    <h6 class="letraAzul">SERVICIOS QUE OFRECEMOS</h6>
    
      
      <p class="texto2">Tenemos la siguiente gama de servicios en los cuales somos expertos, estamos capacitados para brindarte la mejor experiencia y bienestar para ti y tu empresa.
  
    
    
  </div>
  
  <!--Div seccionado en row que continene imagen e información divididos en columnas-->
  <div class="row mt-5 mb-5  pl-5 pr-5 ">
  
    <div class="col-lg-6 mt-4 pTexto1 centrarBoton">
      <h2 class="subtitulo">
        Implementación de Proyectos (Business Analyst)</h2>
      <p class="card-text texto1">
        Nuestra metodología de servicios se encuentra orientada en los estándares del Project Management 
        Institute (PMI) ® e International Project Management Association (IPMA). Esto nos permite contar 
        con las competencias para coordinar equipos de trabajo en el inicio, planeación, construcción, 
        monitoreo y control de las actividades y recursos involucrados en un proyecto a partir de los 
        objetivos y requerimientos de nuestro cliente.
      </p> 
      <a href="https://www.turing-ia.com/ba.php"><button  mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>MÁS INFORMACIÓN</button></a>
    </div>
  
    <div class="col-lg-6">
      <img
          src="https://cdn.pixabay.com/photo/2018/02/12/11/09/smart-home-3148026__340.jpg"
          
          class="img-fluid ajusteIMG rounded-start"
        />
    </div>
  
  </div>
  
  <div class="row mt-3 mb-5 pl-5 pr-5">
  
    <div class="col-lg-3 mt-5 centrar">
      <video class="d-block video-fluid circulo "  autoplay loop>
        <source src="https://mdbootstrap.com/img/video/Lines.mp4" type="video/mp4"/>
      </video>
    </div>
  
    <div class="col-lg-6 mt-5 centrar centrarBoton">
      <h2 class="subtitulo">Desarrollo de Aplicaciones</h2>
      <p class="texto2">
        En un mundo moderno, con la cantidad de problemas y su complejidad cada vez es mayor, el desarrollo 
        de aplicaciones, una herramienta para obtener soluciones precisas, dándole tareas repetitivas a la 
        computadora y logrando así la "automatización" de procesos que todavía requieren la intervención de 
        las personas en tareas repetitivas.
      </p>
      <a href="https://www.turing-ia.com/dsoftware.php"><button  mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>MÁS INFORMACIÓN</button></a>
    </div>
  
    <div class="col-lg-3 mt-5 centrar">
      <video class="d-block video-fluid circulo2 "  autoplay loop>
        <source src="https://mdbootstrap.com/img/video/animation-intro.mp4" type="video/mp4"/>
      </video>
    </div>
  
  </div>
  
  <!--Div seccionado en row que continene imagen e información divididos en columnas-->
  <div class="row mt-5 mb-5 pl-5 pr-5 ">
  
    <div class="col-lg-6">
      <img
          src="https://cdn.pixabay.com/photo/2018/04/08/10/19/businessman-3300907__340.jpg"
          
          class="img-fluid ajusteIMG rounded-start"
        />
    </div>

    <div class="col-lg-6 mt-4 pTexto1 centrarBoton">
        <h2 class="subtitulo">
            Workshop (Blue Print)</h2>
        <p class="card-text texto1">
            Su estrategia debe abarcar la gestión de personas, procesos y cambios, incluida la identificación de casos de uso comercial inmediatos, la definición de roles, responsabilidades, el establecimiento de medidas para evaluar el éxito y el impacto.
        </p> 
        <a href="https://www.turing-ia.com/workshop.php"><button  mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>MÁS INFORMACIÓN</button></a>
      </div>
    
  
  </div>

  <!--Div seccionado en row que continene imagen e información divididos en columnas-->
  <div class="row mt-5 mb-5 pl-5 pr-5 ">

    <div class="col-lg-6 mt-4 pTexto1 centrarBoton">
        <h2 class="subtitulo">
            Venta de Software</h2>
        <p class="card-text texto1">
            Nos dedicamos a la venta de licencias de software, podemos recomendarle los sistemas que de acuerdo a sus necesidades son más adecuados.
        </p> 
        <a href="https://www.turing-ia.com/vsoftware.php"><button  mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>MÁS INFORMACIÓN</button></a>
    </div>

    <div class="col-lg-6">
        <img
            src="https://cdn.pixabay.com/photo/2014/12/30/05/42/source-code-583537__340.jpg"
            
            class="img-fluid ajusteIMG rounded-start"
          />
      </div>
    
  
  </div>

  <!--Div seccionado en row que continene imagen e información divididos en columnas-->
  <div class="row mt-3 mb-5 pl-5 pr-5">
    
    <div class="col-lg-4 mt-5 centrar">
        <h2 class="subtitulo">Capacitación</h2>
        <p class="texto2">
            Nuestra gama de cursos de Tableau incluye: <br><br>
          • Tableau Prep Tableau <br>
          • Desktop Visual Analytics <br>
          • Tableau Server <br>
         
        </p>
      </div>
  
    <div class="col-lg-4 mt-5 centrar">
      <h2 class="letraAzul mb-3">NUESTROS PREMIOS</h2>
      <img src="../../assets/img/premios.png" class="img-fluid fig2 rounded-start"/>
     </div>
  
    <div class="col-lg-4 mt-5 centrar">
      <h2 class="subtitulo">Adicionales:</h2>
      <p class="texto2">
        • Big Data <br>
        • Data Mining <br>
        • Data to Insight <br>
        • Business Intelligence <br>
      </p>
    <a href="https://www.turing-ia.com/capacitacion.php"><button  mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>MÁS INFORMACIÓN</button></a>

    </div>
  
  </div>

  <!--Div seccionado en row que continene imagen e información divididos en columnas-->
  <div class="row mt-5 mb-5 pl-5 pr-5 ">

    <div class="col-lg-6">
        <img
            src="https://cdn.pixabay.com/photo/2019/07/14/16/27/pen-4337521__340.jpg"
            
            class="img-fluid ajusteIMG rounded-start"
          />
    </div>
    
    <div class="col-lg-6 mt-4 pTexto1 centrarBoton">
        <h2 class="subtitulo">
            Venta de hardware</h2>
        <p class="card-text texto1">
            Trabajamos con los mejores proveedores de México y tenemos la capacidad de cubrir cualquier necesidad que tenga de hardware. Redes, computadoras, impresoras y accesorios.        </p> 
            <a href="https://www.turing-ia.com/hardware.php"><button  mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>MÁS INFORMACIÓN</button></a>
    </div>
  
  </div>

  <!--Div seccionado en row que continene imagen e información divididos en columnas-->
  <div class="row mt-5 mb-5 pl-5 pr-5 ">

    <div class="col-lg-6 mt-4 pTexto1 centrarBoton">
        <h2 class="subtitulo">
            Balanced Scorecard</h2>
        <p class="card-text texto1">
            Somos especialistas en el balanced scorecard. Dejanos tener un cumplimiento sostenido de la Misión y Visión de tu empresa a través de la gestión de cuatro perspectivas.        
            <a href="https://www.turing-ia.com/scorecard.php"><button  mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>MÁS INFORMACIÓN</button></a>
    <br>
    </div>

    
    <div class="col-lg-6">
        <img
            src="https://media.istockphoto.com/id/1312214761/es/foto/concepto-de-encuesta-de-satisfacci%C3%B3n-del-cliente-hombre-de-negocios-usando-computadora.jpg?b=1&s=170667a&w=0&k=20&c=KCG9Ebosk-1YAziQkcjVU1BF9iQ09PQpp3QtsepKJmc="
            
            class="img-fluid ajusteIMG rounded-start"
          />
    </div>
    
  
  </div>
   
    
   <!-- Footer -->
   <footer class="text-center letraFooter text-lg-start color6 text-muted">
    <!-- Grid container -->
    <div class="container p-4">
      <div class="mb-2">
        <span>Síguenos en nuestras redes sociales</span>
      </div>
      
      <!-- Section: Social media -->
      <section class="mb-1">
         <!-- Linkedin -->
         <a mdbRipple class="btn btn-outline btn-floating m-1" href="https://www.linkedin.com/company/turing-inteligencia-artificial/?originalSubdomain=mx" role="button"
         ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Facebook -->
        <a mdbRipple class="btn btn-outline btn-floating m-1" href="https://www.facebook.com/people/Turing-Inteligencia-Artificial/100072141934213/" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a mdbRipple class="btn btn-outline btn-floating m-1" href="https://twitter.com/IaTuring" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Instagram -->
        <a mdbRipple class="btn btn-outline btn-floating m-1" href="https://www.instagram.com/iaturing/" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    
    
    
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-2">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              Turing Inteligencia Artificial
            </h6>
            <p>
              Somos Especialistas en Proyectos de Business Analytics
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Mapa de sitio
            </h6>
            <p>
              <a href="../principal" class="text-reset">Inicio</a>
            </p>
            <p>
              <a href="../nosotros" class="text-reset">Nosotros</a>
            </p>
            <p>
              <a href="../servicios" class="text-reset">Servicios</a>
            </p>
            <p>
              <a href="../tableau" class="text-reset">Tableau</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-2">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Nuestros servicios
            </h6>
            <p>
              <a href="https://www.turing-ia.com/ba.php" class="text-reset">Implementación de Proyectos (Business Analyst)</a>
            </p>
            <p>
              <a href="https://www.turing-ia.com/workshop.php" class="text-reset">Workshop (Blue Print)</a>
            </p>
            <p>
              <a href="https://www.turing-ia.com/capacitacion.php" class="text-reset">Capacitación</a>
            </p>
            <p>
              <a href="https://www.turing-ia.com/vsoftware.php" class="text-reset">Venta de Software</a>
            </p>
                        <p>
              <a href="https://www.turing-ia.com/hardware.php" class="text-reset">Venta de Hardware</a>
            </p>
            <p>
              <a href="https://www.turing-ia.com/dsoftware.php" class="text-reset">Desarrollo de aplicaciones</a>
            </p>
            <p>
              <a href="https://www.turing-ia.com/scorecard.php" class="text-reset">Balanced Scorecard</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-2">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contacto
            </h6>
            <p><i class="fas fa-home me-3"></i> Av. Insurgentes 601
              Col. Nápoles, Benito Juárez
              Ciudad de México, México</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              contacto@turing-ia.com
            </p>
            <p><i class="fas fa-phone me-3"></i> +52 (722) 936-96-65</p>
            
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="divider dropdown-divider"></div>
    <div class="text-center p-4">
      © Copyright Turing Inteligencia Artificial. 
      <a class="text-reset fw-bold">Derechos reservados</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  
  
  
   
  
